.header {
  background: #fff;
  height: auto;
  padding: 0;

  .ant-card-head {
    border: 0;
    margin: 0;
    min-height: 0;

    .ant-card-head-title {
      padding: 8px 0;
    }
  }
}

.filters {
  flex: none !important;
  background: #fff;
  width: 30% !important;
  max-width: 30% !important;
  min-width: 30% !important;
}

.role-play {
  padding: 2em;
  background: #fff;
  width: 960px;
  margin: 0 auto;

  .cnt-button {
    padding: 2em 0;
    text-align: center;
  }
}

.content {
  width: 960px;
}

.habitants-container {
  // @keyframes fadeIn from {
  //   opacity:0 to opacity: 1;
  // }
  .ant-card-body{
      padding: 1em;
  }

  .fade-in {
    animation: fadeIn 0.5s ease-in;
  }

  .unique-habitant {
    width: 200px;
    height: 100px;
    display: inline-block;
    margin: 0 5px 0 5px;
  }

  .btn-center {
    text-align: center;
    margin: 0 auto;
    width: 25%;
    padding: 2em;
  }
}
